body {
    font-family: Arial, sans-serif;
    background: #9fd0ff;
    margin: 0;
    padding: 0;
    color: #003f88;
}

.page-table {
    width: 90%;
    margin: 30px auto;
    border: 3px solid #2f7edb;
    background-color: #cfe8ff;
    border-collapse: collapse;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 6px 20px rgba(0,0,0,0.15);
}

.nav-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #005bbb;
}

.nav-table td {
    padding: 16px;
    font-size: 19px;
    font-weight: bold;
    text-align: center;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.nav-table td a {
    text-decoration: none;
    color: white;
    display: block;
}

.nav-table td:hover {
    background-color: #ffd700;
    color: #0057b7;
    transform: scale(1.05);
}

.nav-table td:hover a {
    color: #0057b7;
}

.nav-table td.active a {
    color: #003f88;
    font-weight: bold;
}

.main-content {
    background-color: #9fd0ff;
    padding: 30px;
}


.main-content table {
    width: 100%;
    table-layout: fixed;
}

.main-content td {
    vertical-align: top;
    padding: 15px;
}

.box {
    background-color: #e6f3ff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 3px 12px rgba(0,0,0,0.12);
}

h2 {
    color: #003f88;
    margin-bottom: 15px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 1.8;
}

.game-item {
    padding: 10px 14px;
    border-radius: 10px;
    font-size: 17px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: background 0.2s, font-weight 0.2s;
}

.game-item:hover {
    background: #d7e9ff;
}

.game-item.active {
    background: #bcd9ff;
    font-weight: bold;
}

.desc {
    display: none;
    padding: 12px;
    border-radius: 10px;
    background-color: #cfe8ff;
    font-weight: bold;
	font-size: 18px;
	line-height:1.6;
}

footer {
    background-color: #005bbb;
    color: white;
    text-align: center;
    padding: 15px;
    font-weight: bold;
}
.games-layout {
    display: flex;
    gap: 25px;
}

.left-side {
    width: 45%;
}

.right-side {
    width: 55%;
}

@media screen and (max-width:900px) {
    .games-layout {
        flex-direction: column;
    }

    .left-side,
    .right-side {
        width: 100%;
    }
}



@media screen and (max-width: 900px) {
    .main-content table,
    .main-content tbody,
    .main-content tr,
    .main-content td {
        display: block;
        width: 100% !important;
    }

    .box {
        margin-bottom: 20px;
    }
}
